body {
  padding-top: 0.6111111111em; /* 11 / 18 = 0.6111111111 */
  padding-right: 2.4444444444em; /* 44 / 18 = 2.4444444444 */
  padding-left: 2.4444444444em; /* 44 / 18 = 2.4444444444 */
}

h1 a {
  text-decoration: none;
}

ul li, ol li {
  list-style-type: none;
}

video {
  display: block;
  max-width: 100%;
}

img {
  max-width: 80%;
}

#slides {
  width: 80%;
  margin: 0 auto 10px auto;
}

#slides .slide {
  width: 100%;
  margin: 0;
  border: 10px solid rgba(128, 128, 128, .5);
  border-radius: 10px;
  overflow: hidden;
}

#slides .slide.hidden {
  display: none;
  opacity: 0;
}

#slides .slide img {
  max-width: 100%;
  width: 100%;
  display: block;
}

#map {
  width: 80%;
  height: 50vh;
}

#map-nav {
  text-align: center;
  margin-top: 5px;
}

@media screen and (min-width: 320px){
  img {
    max-width: 100%;
  }
  #map {
    width: 100%;
  }
}
@media screen and (min-width: 640px) {

}
@media screen and (min-width: 860px) {
  video {
    display: block;
    max-width: 80%;
  }
  img {
    max-width: 75%;
  }
}
